[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]

python_version = "2.7"

[dev-packages]

# Linters
isort = "*"
pylint = "*"
pycodestyle = "*"
pydocstyle = "*"

# Testing
pytest = "~= 3.3"
pytest-describe = "*"
pytest-expecter = "*"
pytest-random = "*"
pytest-cov = "*"
scripttest = "*"

# Reports
coverage-space = "*"

# Documentation
mkdocs = "*"
docutils = "*"
pygments = "*"

# Build
wheel = "*"
pyinstaller = "*"

# Release
setuptools = ">= 38.6.0"
twine = ">= 1.11.0"

# Tooling
sniffer = "*"
MacFSEvents = { version = "*", sys_platform = "== 'darwin'" }
pync = { version = "< 2.0", sys_platform = "== 'darwin'" }
