jinja2==3.0.3 ; python_version >= "3.8" and python_version < "4.0"
markdown==3.3.6 ; python_version >= "3.8" and python_version < "4.0"
mkdocs==1.2.4 ; python_version >= "3.8" and python_version < "4.0"
pygments==2.7.4 ; python_version >= "3.8" and python_version < "4.0"
importlib-metadata==4.8.3 ; python_version >= "3.8" and python_version < "4.0"
